
  <h1>Welcome One and All to the Magical Creatures Website!</h1>
  <p>
    Magical creatures inhabit every corner of this world! This site is dedicated
    to the identification and appreciation of these majestic floofs, snooters,
    and shmugamuganas.
    <img src="https://cdn.shopify.com/s/files/1/1365/2497/products/Rainbow-unicorn-mask_900x.png?v=1553633323" alt="Magical Unicorn"/>
  </p>
